/* font-family: 'Helvetica Neue', sans-serif; */

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
                        
/* @font-face {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    src: url(../fonts/HelveticaNeueLight.ttf);
}

@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    src: url(../fonts/HelveticaNeueMedium.ttf);
}

@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
    src: url(../fonts/HelveticaNeueBold.ttf);
} */
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #303030;
}

header {
    padding: 1rem 2rem;

    background-color: #1052ac;
    color: #fff;

    font-size: 16px;
    font-weight: 700;

    position: sticky;
    top: 0;
}

main {
    height: 100vh;
}

footer {
    height: 150px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #c3022f;
}

.align-self-center {
    align-self: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

.width-50 {
    width: 50%;
}

.p-text-card {
    font-size: 16px;
}

.p-text, .p-text-card {
    font-size: 20px;
    font-weight: 300;
    color: #fff;

    line-height: 2rem;
}

.padding-section {
    padding: 4rem 2rem 2rem;
}

.padding-text {
    padding: .5rem 2rem;
}

.padding-top {
    padding-top: 3rem;
}

.subtitle {
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.border-right {
    border-right: 1px solid rgba(80,91,110,0.43);
}

ul {
    list-style: none;
}

ul li {
    padding: .5rem .5rem;
    border-radius: 2px; 
}

li:hover {
    background-color: #3a6ebc;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #77b7e4;
    text-decoration: underline;
}

.cards {
    min-height: 208px;
    min-width: 265px;

    padding: 1.5rem 1rem;

    box-shadow: 0px 2px 7px 3px rgba(221,230,243,0.63);
    background-color: #323232;

    border-radius: .5rem;

    margin: 2rem 1rem;
}

.cards > img {
    height: 100px;
    width: 100px;

    padding: .5rem;
}

.btn-angular {
    padding: 2rem 4rem;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 4rem;
    border: 0;

    background-color: #444444;
    color: #7fc9ff;

   
    box-shadow: 0px 2px 9px -1px rgba(221,230,243,0.76);
}

.init-hidden {
    opacity: 0;
    transition: opacity 1s linear;
}

.init-hidden-off {
    opacity: 1;
}

