/* font-family: 'Helvetica Neue', sans-serif; */

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
                        
/* @font-face {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    src: url(../fonts/HelveticaNeueLight.ttf);
}

@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    src: url(../fonts/HelveticaNeueMedium.ttf);
}

@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
    src: url(../fonts/HelveticaNeueBold.ttf);
} */
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #303030;
}

header {
    padding: 1rem 2rem;

    background-color: #1052ac;
    color: #fff;

    font-size: 16px;
    font-weight: 700;

    position: sticky;
    top: 0;
}

main {
    height: 100vh;
}



.width-50 {
    width: 50%;
}

.p-text {
    font-size: 20px;
    font-weight: 500;
    color: #fff;

    line-height: 2rem;
}

.padding-section {
    padding: 4rem 2rem 2rem;
}

.padding-text {
    padding: .5rem 2rem;
}

.padding-top {
    padding-top: 3rem;
}

.subtitle {
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.border-right {
    border-right: 1px solid rgba(80,91,110,0.43);
}

ul {
    list-style: none;
}

ul li {
    padding: .5rem .5rem;
    border-radius: 2px; 
}

li:hover {
    background-color: #3a6ebc;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #77b7e4;
    text-decoration: underline;
}